<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>小游戏你画我猜：Error page</title>
</head>
<body>
<script>
	
	var msg = '<%=errmsg%>' ;
	alert(msg);
	window.location.href="<%=url%>" ;

</script>
</body>
</html>
