<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>
    <style>
        *{
            margin:0;
            padding:0;
            
        }
        #drawer,#drawer_copy{
            border:1px solid red;
        }
        button{
            padding: 5px 20px;
            margin: 0 10px;
        }

    </style>
</head>
<body>
<p>roomeID: <%=roomInfo.id%>, username: <%=username%></p>
<canvas width="400" height="400" id="drawer_copy"></canvas>
<script src="/socket.io/socket.io.js" type="text/javascript" language="javascript"></script>
<script>
    var roomid = '<%=roomInfo.id%>' ;
</script>
<script src="/javascripts/game-slaver.js" type="text/javascript" language="javascript"></script>
</body>
</html>
