<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1" />
    <title><%=title%></title>
    <link href="/stylesheets/style.css" type="text/css" rel="stylesheet" />
    <style>
    body{
        width: 400px ;
        margin: 0 auto;
        padding-top: 40px;
    }
    p{
        margin-top: 10px;
    }
    input {
        border: 1px solid red;
        line-height: 30px;
        width: 50%;
    }
    button{
        background: blue;
        color: white;
    }
    .info{
        font-size: 12px;
        color: #aaa;
        font-style: italic;
    }
    li{
        margin-top: 10px;
    }
    </style>
</head>
<body>
<h2>小游戏：你画我猜</h1>
<p><lable>姓名：</lable><input type="text" id="username" placeholder="必填：请输入姓名"></p>
<p><button id="create">创建房间</button></p>
<p>房间列表：</p>
<%if(roomList.length<=0){%>
<p class="info">当前没有房间，请创建房间</p>
<%}%>
<ul>
<%for(let i in roomList){%>
<li>房主：<%=roomList[i].adduser%> <button class="join" data-id="<%=roomList[i].id%>">加入房间</button></li>
<%}%>
</ul>
<script type="text/javascript" src="/javascripts/jquery-3.2.1.min.js"></script>
<script>
    $("#create").click(function(){
        var uname = $("#username").val();

        if (''==uname) {
            alert("请输入用户名");
            return false ;
        }

        window.location.href="/game?uname="+uname+"&rn=0" ;
    });

    $(".join").click(function(){
        var uname = $("#username").val();
        var rn = $(this).attr("data-id");

        if (''==uname) {
            alert("请输入用户名");
            return false ;
        }

        if('' == rn) {
            alert('请输入房间号');
            return false ;
        }


        window.location.href="/game?uname="+uname+"&rn="+rn ;
    });
</script>
</body>
</html>
